@if (loading()) {
  <div>Loading jobs...</div>
} @else {

  @if (error()) {
    <div class="error">{{ error() }}</div>
  }

  @if (jobs().length > 0) {
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Scheduled At</th>
        <th>Type</th>
        <th>Method</th>
        <th>Args</th>
        <th>Queue</th>
        <th>Periodic Job</th>
        <th>Error Count</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      @for (job of jobs(); track job.id) {
        <tr>
          <td>{{ job.id }}</td>
          <td>{{ job.scheduledAt | date:'short' }}</td>
          <td>{{ job.typeName }}</td>
          <td>{{ job.methodName }}</td>
          <td>{{ job.methodArgs }}</td>
          <td>{{ job.queue }}</td>
          <td>{{ job.periodicJobId }} </td>
          <td>{{ job.errorCount }}</td>
          <td>
            <button (click)="deleteJob(job)">Delete</button>
          </td>
        </tr>
      }
      </tbody>
    </table>
  } @else {
    <div>No jobs found.</div>
  }
}
