services:
  oracledb:
    image: gvenzl/oracle-free:slim
    container_name: oracledb
    ports:
      - "1521:1521"
    environment:
      ORACLE_PASSWORD: "pass"
      ORACLE_DATABASE: "xact_jobs_db"
      APP_USER: xact_jobs
      APP_USER_PASSWORD: pass
    volumes:
      - oradata:/opt/oracle/oradata

volumes:
  oradata:
